{% extends 'navbar.html' %}
{% block content %}
{% load static %}
<style>
    body {
        background-image: url("https://wallpapercave.com/wp/wp9438985.jpg");
    }
</style>
<div class="container">
    <div class="row"></div>
    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-4" style="margin-top: 7%;">
            <form method="post" action="{% url 'edit_stud' stu.id %}" style="background-color: rgb(250, 250, 250); height: 450px; padding-top: 10px; border-radius: 10px;padding-left: 20px;padding-right: 20px;">
                {% csrf_token %}

                <div class="form-outline">
                    <h3 style="text-align: center;justify-content: center   ; color: blueviolet;">Edit Student Detaills</h3>
                    <input type="text" name="name" class="form-control" placeholder="Enter Name" value="{{stu.student_name}}" /> <br>
                </div>
                <div class="form-outline ">
                    <input type="address" name="address" class="form-control" placeholder="Enter Address" value="{{stu.student_address}}" /><br>
                </div>
                <div class="form-outline ">
                    <input type="number" name="age" class="form-control" placeholder="Enter Age" value="{{stu.student_age}}" /><br>
                </div>
                <div class="form-outline ">
                    <input type="date" name="date" class="form-control" placeholder="" value="{{stu.joining_date|date:'Y-m-d'}}" /><br>
                </div>
                <div class="form-outline ">
                    <select name="sel" class="form-control">
                        <option value="">Select Course</option>
                        {% for c in cou %}
                            <option value="{{c.id}}" {% if c.id == stu.course.id %} selected {% endif %}>{{c.course_name}}</option>
                        {% endfor %}
                    </select>
                </div> <br>
                <button type="submit" class="btn btn-primary btn-block " style="border-radius: 30px;">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
